.left-grid{
    height: 200px;
}
.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel {
    margin-bottom: 15px
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: pink
}

.custom{
    height: 412px !important;
}

.padd{
    padding-top: 29% !important;
}










div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style: none;
    margin-bottom: 0px
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a:active {
    position: relative;
    color: #FF6347
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f
}

p a:hover::after {
    opacity: 0.2
}

::selection {}

p::selection {}

h1 {
    font-size: 48px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}

.form-control {
    color: #db5246
}

section {
    display: block;
    position: relative;
    box-sizing: border-box
}

.clear {
    clear: both
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.clearfix {
    zoom: 1
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}

.fill_height {
    height: 100%
}

.super_container {
    width: 100%;
    overflow: hidden
}

.prlx_parent {
    overflow: hidden
}

.prlx {
    height: 130% !important
}

.nopadding {
    padding: 0px !important
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.viewed {
    padding-top: 51px;
    padding-bottom: 60px;
    background: #eff6fa
}

.bbb_viewed_title_container {
    border-bottom: solid 1px #dadada
}

.bbb_viewed_title {
    margin-bottom: 14px
}

.bbb_viewed_nav_container {
    position: absolute;
    right: -5px;
    bottom: 14px
}

.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #606264
}

.bbb_viewed_prev {
    margin-right: 15px
}

.bbb_viewed_slider_container {
    padding-top: 50px
}

.bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px
}

.bbb_viewed_image {
    width: 115px;
    height: 115px
}

.bbb_viewed_image img {
    display: block;
    max-width: 100%
}

.bbb_viewed_content {
    width: 100%;
    margin-top: 25px
}

.bbb_viewed_price {
    font-size: 16px;
    color: #000000;
    font-weight: 500
}

.bbb_viewed_item.discount .bbb_viewed_price {
    color: #df3b3b
}

.bbb_viewed_price span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name a {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name a:hover {
    color: #0e8ce4
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #df3b3b;
    margin-right: 5px
}

.item_new {
    background: #0e8ce4
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}
.modtitle{
    border-bottom: 2px solid #eee;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 22px;
    margin-bottom: 20px;
}
.daily-deals{
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: #232f3e;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 11px 20px;
    position: relative;
    bottom: 6px;
    font-size: 16px;
    font-weight: 700;
}

.item-left img{
    width: 100%;
}

.inner-cart, a{
    font-size: 18px;
    color: black !important;
}

.inner-cart, .price, .price-new{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.price-old{
    color: lightgray !important;
    text-decoration-line:line-through;
    font-size: 12px;
}
.available{
    background-color: #eee;
    height: 13px;
    width: 100%;
    display: inline-block;
    border-radius: 7px;
    position: relative;
    left: -11px;
    z-index: 2;
    overflow: hidden;
}
.item-available .avail-price{
    color: red !important;
}

.sold{
    text-align: right;
}
.time-item{
    background-color: transparent;
    line-height: 100%;
    float: left;
    text-align: center;
    width: auto;
    margin-left: 10px;
}
.num-time{
    border: none;
    font-size: 14px;
    color: #222;
    font-weight: 700;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
    border-radius: 100%;
    text-transform: uppercase;
}
.name-time{
    color: #666;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 3px;
}
.rec-carousel-wrapper .rec-carousel .cukhLH:focus{
    outline: none !important;
}

.item-right:focus{
    outline: none !important;
}
.outline:focus{
    outline: none !important;
}
.left-draw-image{
    height: 300px;
}
.daily-deals-slider .rec-arrow-left{
    top: -75px;
    position: absolute;
    right: 63px;
    font-size: 16px;
    width: 26px;
    height: 31px;
    min-width: 31px;
    line-height: 31px;
}
.daily-deals-slider .rec-arrow-right{
    position: absolute;
    right: 22px;
    top: -75px;
    font-size: 16px;
    width: 26px;
    height: 31px;
    min-width: 31px;
    line-height: 31px;
}
.lgksPe:hover:enabled, .lgksPe:focus:enabled{
    outline: none !important;
}
.rec-dot{
    margin: 0 5px !important;
    width: 30px !important;
    height: 6px !important;
    padding: 0 !important;
    transition: all 0.3s ease 0s !important;
    border-radius: 3px !important;
    float: none !important;
    display: inline-block !important;
}

.rec-dot:active{
    background: #ff3c20 !important;
    box-shadow: none !important;
}
.cJeRRR{
    background: #ff3c20 !important;
    box-shadow: none !important;
}


#sidenav a{
    text-decoration: none;
    font-size: 9px;
    color: white;
    position: absolute;
    border-radius: 0 5px 5px 0px;
    left: -73px;
    transition: 0.3s;
    border: 2px solid #c2e9fb;
    width: 105px;
    height: 32px !important;
    margin-left: 0;
    margin-top: 31px;
  }
  i{
  padding-right:10px;
   padding-left:10px
    
  }
  #sidenav a:hover{
   left:0px; 
   text-align:center;
  }
  /* #sidenav a:hover i{
  display:;
  } */
  #about{
    top:20px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
  #blog{
    top:50px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  #projects{
    top:80px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  #contact{
    top:110px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }

  .side-menu a svg{
      font-size: 18px !important;
  }

  .side-menu a .cart{
    margin: 3px 0 0 26px;
  }

  .side-menu a .heart{
    margin: 6px 0 0 9px;
  }

  .side-menu a .refresh{
    margin: 4px 0 0 43px;
  }

  .side-menu a .eye{
    margin: 5px 0 0 45px;
  }


.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}
a{
    color:#88C425;
}
a:hover{
    text-decoration:none;
    color:#519548;
}
i.red{
    color:#BC0213;
}

.tag-right {
    position: absolute;
    right: 0;
    top: 10px;
}

.tag-right .ant-tag{
    background-color: rgb(3 164 158) !important;
    width: 83% !important;
    border-radius: 50%;
    height: 44px;
    padding: 10px 8px !important;
}

.img-box ul a li svg{
    color: white !important;
    margin-top: -16px !important;
}







