.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: -175px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
  }
  
  .hoverable-draw:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hover-image:hover {
    color: #eee;
  }
  .hover-image{
    width: 130px !important;
    height: 175px;
  }
  .trending-items{
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: #232f3e;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 11px 20px;
    position: relative;
    bottom: -52px;
    font-size: 16px;
    font-weight: 700;
  }
  .trend-title{
    display: inline-block;
    width: 100%;
    position: relative;
}

.trending-slider .rec-pagination{
    display: none !important;
}

.trend-hover-image{
  height: 175px;
  position: relative;
  top: -27px;
}

.trend-hover-image:hover{
  width: 100% !important;
  height: 175px;
}

.hoverable-draw .img-box ul li {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid #88C425;
  border-radius: 50%;
  margin: 2px;
  padding: 4px;
  display: inline-block;
}

.hoverable-draw .img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}

.hoverable-draw .img-box ul a li svg {
  color: white !important;
  margin-top: -16px !important;
  padding: 2px;
}

.rating {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: -12px;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.rating-upper {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}

.hoverable-draw .profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}

.hoverable-draw .profile .img-box:after{
  position: absolute;
  right: -25px;
  left: -26px;
  top: -24px;
  bottom: 8px;
}


.trending-slider .rec-arrow-left{
    position: relative;
    right: -13px;
    top: -13px;
    font-size: 16px;
    width: 26px;
    height: 31px;
    min-width: 31px;
    line-height: 31px;
}

.trending-slider .rec-arrow-right{
    position: relative;
    right: 20px;
    top: -13px;
    font-size: 16px;
    width: 26px;
    height: 31px;
    min-width: 31px;
    line-height: 31px;
}

.ant-tabs-nav-wrap .ant-tabs-nav-list{
  transform: translate(400px, 0) !important;
}