.new-items{
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: #232f3e;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 11px 20px;
    position: relative;
    bottom: -52px;
    font-size: 16px;
    font-weight: 700;
  }
  .new-title{
    display: inline-block;
    width: 100%;
    position: relative;
}

.items-slider .rec-pagination{
  display: none !important;
}

.items-slider .rec-arrow-left{
  position: relative;
  right: -13px;
  top: -13px;
  font-size: 16px;
  width: 26px;
  height: 31px;
  min-width: 31px;
  line-height: 31px;
}

.items-slider .rec-arrow-right{
  position: relative;
  right: 20px;
  top: -13px;
  font-size: 16px;
  width: 26px;
  height: 31px;
  min-width: 31px;
  line-height: 31px;
}