.new-items{
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: #232f3e;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 11px 20px;
    position: relative;
    bottom: -52px;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  .new-title{
    display: inline-block;
    width: 100%;
    position: relative;
}

.items-slider .rec-pagination{
  display: none !important;
}

.items-slider .rec-arrow-left{
  position: relative;
  right: -13px;
  top: -13px;
  font-size: 16px;
  width: 26px;
  height: 31px;
  min-width: 31px;
  line-height: 31px;
}

.items-slider .rec-arrow-right{
  position: relative;
  right: 20px;
  top: -13px;
  font-size: 16px;
  width: 26px;
  height: 31px;
  min-width: 31px;
  line-height: 31px;
}
.left-full .ant-card-body{
  margin-top: 319px;
}
.left-full .img-box{
  margin-top: -321px;
}
.ant-card-meta-detail > div:not(:last-child){
  font-size: 13px;
}
.rating-lower span{
  font-size: 19px !important;
}

.right-new-items .img-box ul li{
    width: 25px;
    height: 25px;
    margin: 1px;
    padding: 2px;
}