
.trigger1{
    font-size:25px;
    color:red;
}

@media(min-width: 320px) and (max-width: 375px){
   


}
  


  @media(min-width: 375px) and (max-width: 425px){
  


  }
  @media(min-width: 426px) and (max-width: 768px){
    .spacer {
        width: 584px;
    }
}
  @media(min-width: 769px) and (max-width: 1024px){
      .trigger{
          font-size:20px;
      }
      .spacer {
        width: 584px;
    }
}
  @media(min-width: 1025px) and (max-width: 1440px){
  
  
}



@media(min-width: 1441px) and (max-width: 2560px){
  
  
}