h4.modtitle{
    border-bottom: 1px solid #d7d7d7;
    font-size: 14px;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f5f5f5;
    margin: 0;
    padding: 15px;
}


#flexRadioDefault1{
    height: 45px;
    width: 11px;
    margin-top: -11px;
}

#flexRadioDefault2{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}

#flexRadioDefault3{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}

#flexRadioDefault4{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}

#flexRadioDefault5{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}

#flexRadioDefault6{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}
#flexRadioDefault7{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}
#flexRadioDefault8{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}
#flexRadioDefault9{
    height: 45px;
    width: 11px !important;
    margin-top: -11px !important;
}
.form-check-label{
    width: 100% !important;
    margin-bottom: -21px !important;
}

.right-inner{
    border: 1px solid gray !important;
    border-radius: 4px;
    margin-top: 40px;
}

.panel-heading {
    padding: 10px 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: 700;
}

.inner-selection{
    padding: 15px;
}

.inner-selection p{
   margin: 0 0 10px
}

.panel-default {
    border-color: #ddd;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-body {
    padding: 5px;
}

label {
    font-size: 13px;
    font-weight: normal;
}
.cstm-margin{
    margin: 0 0 -17px 12px;
    font-weight: 500;
}

.cstm-height-input{
    height: 32px !important;
    width: 90% !important;
    display: block;
    margin: 0 auto !important;
    font-size: 12px !important;
}

.cstm-height-input:focus{
    box-shadow: none !important;
    outline: none;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ant-checkbox{
    width: 12% !important;
}

.ant-checkbox-inner{
    left: 16px !important;
}
.ant-checkbox-inner:focus{
    outline: none !important;
}
.ant-checkbox span{
    width: 16px !important;
}

.menu a, .menu a:link, .menu a:visited, .menu a:focus, span:hover{
    outline: none !important;
}

.ant-checkbox + span{
    font-size: 11px !important;
}

.input-group {
    position: relative;
    display: table !important;
    border-collapse: separate;
}

.auto-top{
    margin-top: 38px;
}

.auto-top, .input-group input{
    width: 100% !important;
}

.right-button-det {
    position: absolute;
    text-align: right;
    font-size: 0;
    right: 0;
    white-space: nowrap;
    top: 0px;
}

.apply-coupon{
    height: 31px !important;
    padding: 0 28px !important; 
    font-size: 13px !important;
    color: #fff !important;
    border-radius: inherit !important;
    background-color: #337ab7 !important;
}

#input-coupon, #input-voucher{
    font-size: 13px !important;
}

.apply-voucher{
    height: 31px !important;
    padding: 0 28px !important;
    font-size: 13px !important;
    border-radius: inherit !important;
    background-color: #337ab7 !important;
    color: #fff !important;
}

/* .right-updates{
    position: absolute;
    right: -192px;
    top: 2px;
}

.refresh-update{
    width: 14%;
    height: 31px;
}


.cross-update{
    width: 14%;
    height: 31px;
} */

#button-confirm{
    float: right;
    margin-top: -48px;
    width: 16%;
    height: 37px;
    padding: 0;
}

.coupon-checkout{
    width: 26% !important;
    position: absolute !important;
    top: 1px;
    right: 1px;
    height: 32px !important;
    padding: 0 !important;
    border: none !important;
    background: #337ab7 !important;
    color: white !important;
    font-size: 13px !important;
}

.coupon-Voucher{
    width: 26% !important;
    position: absolute !important;
    top: 1px;
    right: 1px;
    height: 32px !important;
    padding: 0 !important;
    border: none !important;
    background: #337ab7 !important;
    color: white !important;
    font-size: 13px !important;
}