.login-title{
background-color:#ffffff;
height:50px;
margin-bottom:10px;
}
.register{
    color:white;
    position: relative;
    top:-26px;
}
.site-brand{
    position:relative;
    top:6px
}

.login-click{
    cursor: pointer;
}

.register-click{
    cursor: pointer;
}

.login-click svg{
    margin-top: -4px;
}

.contact-svg svg{
    margin-top: -4px;
}