.menu-container {
    width:100%;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    
    width: 218px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    padding: 0 0 0 4px;
    left:0;
    text-align: left;
    background-color: white;

}
li.vertical{
    background-color:#227087;
}
li.vertical:hover{
    background-color:#227087;
}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;
    text-align: center;
    margin-left: -4px;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}
.menu > li > a {
    padding:20px 18px;
    display: block;
}
.menu > li:hover > a {
    color: #227087;
}
.menu > li:hover {
    background-color: #fff;
}
/* my design */
.menu > li.vertical:hover {
    background-color: #227087;
}
/* Megadrop width dropdown */
 .menu > li > .megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 120px;
    left: 265px;
    width: 500px;
    min-height: 100%;
    text-align: left;
    background-color: white;
    margin-top:30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
}
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}
.menu ul li:hover:after {
    color: #227087;
}
.menu .col {
    width: 14.1%;
    float: left;
    color:white;
    margin: 0 0 0 2.2%;
}
.menu .col ul {
    padding: 0;
    margin: 0;
}
.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: white;
}
.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: #227087;
    background-color: white;
}
.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}
.vertical-menu-item{
    background-color: white;
    color: #00A29E !important ;
    position: relative;
    left:50px;
    text-align: left;
}
.menu-icon{
    background-color:white;
    position: relative;
    top:-3px;
}
.vertical{
    display:inline-block;
}

.vertical-menu-item:hover{
    border-bottom:1px solid #00A29E;
   color:#122331 !important;
    position: relative;
    left:50px;
    text-align: left;
 font-size:15px;
 font-weight:600;
   
}

h3.login-title{
    background-color: white;
  }
  .col{
    background-color: white;
  }
.categories {
    background-color: #ffffff;
    color: black;
    width: 268px;
    height: 50px;
    margin-left: 34px;
    margin-top:50px;
}
.category-position {
    background-color: #ffffff;
    color: #122331;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: 10px;
    left: -1px;
}
ul.menu {
    background-color: #ffffff;
    width: 218px;
    margin-left: 34px;
}

.first{
    border-top:1px solid black;
}

.showchevron{
    background-color:transparent;
}

.show{
    transition:all 0.3s ease;
}

.hide{
    
    margin-top:-600px;
}
   
.makeflex{
    display:flex;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 18px;
    color: black;
    width: 300px;
}

.site-input-group-wrapper .site-input-split {
    background-color: #fff;
  }
  
  .site-input-group-wrapper .site-input-right {
    border-left-width: 0;
  }
  
  .site-input-group-wrapper .site-input-right:hover,
  .site-input-group-wrapper .site-input-right:focus {
    border-left-width: 1px;
  }
  
  .site-input-group-wrapper .ant-input-rtl.site-input-right {
    border-right-width: 0;
  }
  
  .site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
  .site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
    border-right-width: 1px;
  }


  .category-flex{
      position:relative;
      top:60px;
      left:20px;
  }
  .ant-input-group.ant-input-group-compact > *:first-child, .ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selector, .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input {
    border-top-left-radius: 2px;
    width: 120px;
    border-bottom-left-radius: 2px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    /* width: 100px; */
    padding-bottom: 0;
    position: relative;
    left: 122px;
    border-radius: 0 2px 2px 0;
    /* margin-right: 100px; */
}
/* select */
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    left: -1px;
    padding: 0;
    border: 0;
    position: relative;
    left: -152px;
    height: 0px;
}


.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    /* width: 100px; */
    padding-bottom: 0;
    position: relative;
    left: 2px;
    height: 38px;
    border-radius: 0 2px 2px 0;
    /* margin-right: 100px; */
}
.ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selector, .ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input, .ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input {
    border-right-width: 1px;
    border-radius: 0;
    width: 300px;
    height: 38px;
}

.ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input:placeholder-shown{

    margin-left:100px;
}
.ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input:placeholder-shown {
    margin-left: 100px;
    margin-top: -38px;
}
.ant-input-group.ant-input-group-compact {
    display: block;
    z-index: 90;
}


.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    /* margin-top: -27px; */
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: -38px;
    /* height: 37px; */
    left: -123px;
    border-radius: 0 2px 2px 0;
}
