.menu-container {
    width:100%;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    width: 218px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    border: 1px solid black;
    padding: 0 0 0 4px;
    border-top: none;
    left: 0;
    width: 268px !important;
    text-align: left;
    background-color: white;
}
.menu > li > a {
    padding: 14px 18px;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}
.ant-dropdown-menu {
    position: relative;
    margin: 0;
    padding: 4px 0;
    width: 95%;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}



li.vertical{
}
li.vertical:hover{
}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;
    text-align: center;
    margin-left: -4px;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu > li:hover > a {
    color: #227087;
}
.menu > li:hover {
    background-color: #fff;
}
/* my design */
.menu > li.vertical:hover {
}
/* Megadrop width dropdown */
 .menu > li > .megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0;
    left: 265px;
    width: 500px;
    min-height: 100%;
    text-align: left;
    background-color: white;
    margin-top:30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
}
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    padding: 9px 10px;
}
.menu ul li:hover:after {
    color: #227087;
}
.menu .col {
    width: 14.1%;
    float: left;
    color:white;
    margin: 0 0 0 2.2%;
}
.menu .col ul {
    padding: 0;
    margin: 0;
}
.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu .col h3 {
    font-size: 14px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #02a49e;
    background: white;
}
.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: #227087;
    font-size: 12px;
    background-color: white;
    margin-bottom: -23px;
}
.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}
.vertical-menu-item{
    background-color: white;
    color:#02a49e !important ;
    position: relative;
    left:50px;
    text-align: left;
    font-size: 14px;
}
.menu-icon{
    background-color:white;
    position: relative;
    top:-3px;
}
.vertical{
    display:inline-block;
}

.vertical-menu-item:hover{
    background-color: rgb(29 61 138);
    color: white !important;
    width: 267px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-weight: 700;
}
.vertical-menu-item:hover .menu-icon {
    background-color: rgb(64, 237, 170);
    color:white;
    position: relative;
    top: -3px;
}
h3.login-title{
    background-color: white;
  }
  .col{
    background-color: white;
  }
  .cate-icons{
      font-size:25px;
      margin-right:10px;
      color:white;
  }
.categories {
    background-color: #ffffff;
    color: #00A29E;
    width: 266px;
    height: 40px;
    margin-left: 35px;
    margin-top: 73px;
}
.category-position {
    background-color: #ffffff;
    color: #00A29E;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 6px;
    left: -20px;
}
ul.menu {
    background-color: #ffffff;
    width: 218px;
    margin-left: 34px;
    position: absolute;
    top: 76px;
    z-index:99;
}


.showchevron{
    background-color:transparent;
    font-size:20px;
    position:relative;
    top:-3px;
    left:10px;

}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    height: 45px;
    border: 1px solid black;
    min-width: 0;
    border-radius:0px;
    margin-bottom: 0;
}

.show{
    transition:all 0.3s ease;
}

.hide{
    
    margin-top:-600px;
}
   .cate-flex{
       display:flex;
   }
.makeflex {
    display: flex;
    background-color: transparent;
    color:black;
    padding-bottom: 45px;
    /* justify-content: center; */
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 18px;
    color: black;
    width: 300px;
}

.site-input-group-wrapper .site-input-split {
    background-color: #fff;
  }
  
  .site-input-group-wrapper .site-input-right {
    border-left-width: 0;
  }
  
  .site-input-group-wrapper .site-input-right:hover,
  .site-input-group-wrapper .site-input-right:focus {
    border-left-width: 1px;
  }
  
  .site-input-group-wrapper .ant-input-rtl.site-input-right {
    border-right-width: 0;
  }
  
  .site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
  .site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
    border-right-width: 1px;
  }

.handlesearch{
    position:relative;
    top:-80px;
    margin-bottom: -65px;
}

a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
    touch-action: manipulation;
    height: 45px;
    width: 473px;
}
  .category-flex{
      position:relative;
      top:60px;
      left: 104px;
      display:flex;
  }
  .ant-input-group.ant-input-group-compact > *:first-child, .ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selector, .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input {
    border-top-left-radius: 2px;
    width: 120px;
    border-bottom-left-radius: 2px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    /* width: 100px; */
    padding-bottom: 0;
    position: relative;
    left: 122px;
    border-radius: 0 2px 2px 0;
    /* margin-right: 100px; */
}
/* select */



.flex-refresh{
position:relative;
top:65px;
}
.flex-refresh-heart{
    position:relative;
    top:65px;
    left: 46px;
    }
    
.icon-refresh{
color:rgb(255, 255, 255);
font-size:27px;
cursor: pointer;
}


.shopping{
position:relative;
top:62px;
left:90px;
color: #00A29E !important;
font-size:19px;
}


.shop-icon{
    color:rgb(255, 255, 255);
    font-size:27px;
    margin-right: 20px;
}

.make-flex {
    display: flex;
    position: absolute;
    left:900%;
    top: -30px;
}

.handleallflex{
    position:relative;
    left:-70px;
}
.search-form .search-input:focus{
    outline: none !important;
}


.search-form {
    /* we'll re-use this number, so DRYing up */
    --searchButtonWidth: 75px;
  
    overflow: hidden;
    position: relative;
  }

  .cart{
      width:8800%;
  }
  
  .search-input {
    /* take full width of form */
    width: 100%;
    border: 1px solid gray;
  }
  
  .give-categories{
    border: 1px solid gray;
    font-size: 13px !important;
    width: 100% !important;
  }

  .give-categories:focus{
   box-shadow: none !important;
   outline: none !important;
  }
  .search-button {
    position: absolute; 
    /* push outside the form, hiding it */
    left: 100%;
    width: var(--searchButtonWidth);
  }

  .search-input:not(:placeholder-shown) ~ .search-button {
    /* pull back the negative value of the width */
    transform: translateX(calc(-1 * var(--searchButtonWidth)));
  }
  .search-button {
    position: absolute; 
    left: 100%;
    width: var(--searchButtonWidth);
    /* animate it */
    transition: 0.2s;
  }
  

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #ffffff !important;
    border: 1px solid #d9d9d9;
    color:#000000 !important;
    border-radius: 2px;
    height: 45px !important;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 217px;
    width: 20px;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 18px;
    position: relative;
    font-size: 16px;
    top: 7px;
}
.search-input:not(:placeholder-shown) ~ .search-button {
    transform: translateX(calc(-1 * var(--searchButtonWidth)));
    color: #ffffff ;
    background-color: #026d6bb9 ;
}
.make-flex{
    display:flex;
    position: relative;
    left: 646px;
    /* margin-left: 230px; */
}

.hide{
    display:none;
}



@media(min-width: 320px) and (max-width: 375px){
   


  }
    
  
  
    @media(min-width: 375px) and (max-width: 425px){
        .shopping {
            position: relative;
            top: 3px;
            left: -80px;
            color: #00A29E !important;
            font-size: 28px;
        }
        .shop-icon {
            color: white;
            font-size: 72px;
            background-color: darkcyan;
            margin-right: 0px;
            border-radius: 50px;
            padding: 5px;
        }
        header.ant-layout-header {
            height: 57px;
            padding: 0 50px;
            margin-top: 38px;
            color: rgba(255, 255, 255, 0.85);
            line-height: 64px;
            background: #122331;
        }


    }
    @media(min-width: 426px) and (max-width: 768px){
        
        .shopping {
            position: relative;
            top: 3px;
            left: 99px;
            color: #00A29E !important;
            font-size: 28px;
        }
        .shop-icon {
            color: white;
            font-size: 72px;
            background-color: darkcyan;
            margin-right: 0px;
            border-radius: 50px;
            padding: 5px;
        }
  }
    @media(min-width: 769px) and (max-width: 1024px){
        .categories {
            background-color: #00A29E;
            color: rgb(255, 255, 255);
            width: 224px;
            height: 50px;
            margin-left: 34px;
            margin-top: 50px;
        }
        /* .icon-refresh {
            color: white;
            font-size: 24px;
        } */
        .make-flex {
            display: flex;
            margin-left: 68px;
            margin-top: 20px;
        }
        flex-refresh-heart {
            position: relative;
            top: 65px;
            left: 28px;
        }
        .shopping {
            position: relative;
            top: 62px;
            left: 54px;
            color: #00A29E !important;
            font-size: 15px;
        }
        .ant-layout-header .ant-menu {
            line-height: inherit;
            width: 443px;
        }
        .shop-icon {
            color: white;
            font-size: 28px;
            margin-right: 20px;
        }
        .menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
            color: #fff;
            text-decoration: none;
            width: 173px;
        }
        .category-flex {
            position: relative;
            top: 60px;
            left: 44px;
            display: flex;
        }
        a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            width: 241px;
        }
      
  }
    @media(min-width: 1025px) and (max-width: 1440px){
    
    .shopping{
        position:relative;
        top:62px;
        left:26px;
        color: #00A29E !important;
        font-size:15px;
    }
    .flex-refresh-heart {
        position: relative;
        top: 65px;
        left: 9px;
    }
    .flex-refresh {
        position: relative;
        top: 65px;
        left: -16px;
    }
  }
  
  
  .dropdown-menu.shoppingcart-box .table {
    margin-bottom: 0;
  }
 .shoppingcart-box .table-striped > tbody > tr:nth-of-type(odd) {
    background: #fff;
  }
  .btn-shopping-cart .table > tbody > tr > td {
    border: none;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
  }
.shoppingcart-box .table-striped a {
    color: #666;
    font-weight: bold;
  }

  #cart .dropdown-menu.shoppingcart-box .text-right {
    margin-top: 10px;
  }
.shoppingcart-box .table-striped a.fa-edit {
    display: none;
  }
.shoppingcart-box .table-striped a.fa-delete {
    width: 20px;
    height: 20px;
    background: #d6d6d6;
    border-radius: 3px;
    text-align: center;
    line-height: 19px;
    color: #000;
  }
  #cart .dropdown-menu.shoppingcart-box .text-right {
    margin-top: 10px;
  }
.shoppingcart-box a.btn:hover {
    border: 1px solid#00A29E;
    background: #00A29E;
  }
.shoppingcart-box a.btn i {
    margin-right: 5px;
  }
.shoppingcart-box a.btn {
    color: #fff;
    background: #444;
    border-color: #444;
  }
  
  .ant-dropdown {
    left: 951.438px !important;
 }
 .table td, .table th{
    padding: 0 !important;
 }
 .ant-dropdown-menu{
    width: 370px !important;
    float: right !important;
    overflow: hidden !important;
 }
 .shopping .ant-dropdown-trigger svg{
    background-color:#00A29E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 6px;
 }

 .view-cart{
    width: 42% !important;
    height: 31px;
    padding: 0 !important;
    font-size: 12px !important;
    background-color: black !important;
    color: white !important;
 }
 .checkout-cart{
    width: 42% !important;
    height: 31px;
    padding: 0 !important;
    font-size: 12px !important;
    background-color: black !important;
    color: white !important;
 }

.view-cart:focus{
   outline: none;
 }
.checkout-cart:focus{
    outline: none;
 }


 .view-cart svg{
 font-size: 16px;
 margin: 0 3px;
 }

 .checkout-cart svg{
    font-size: 16px;
    margin: 0 3px;
    }

.loginorregister{
    position: relative;
    right: -444px;
    top: 9px;
}