ul.breadcrumb {
    margin: 23px 0;
    background-color: transparent;
    padding: 0;
    display: inline-block;
    width: 100%;
    line-height: 100%;
}
ul.breadcrumb li {
    display: inline-block;
    padding: 0 17px 0 8px;
    margin-right: 7px;
    position: relative;
    width: 4%;
}
ul.breadcrumb li a {
    display: block;
    padding: 0;
    color: #999;
    text-decoration: none;
    font-size: 14px;
}
.page-login .well {
    background: #fff;
    min-height: 285px;
    border: 1px solid #e7e7e7;
    margin: 0;
    line-height: 23px;
    border-radius: 0;
}
.page-login .well h2 {
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}
.page-login .bottom-form {
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 10px 20px;
    overflow: hidden;
    line-height: 35px;
}
.page-login .bottom-form .btn {
    background: #555;
    float: right;
    width: 18%;
    height: 35px;
    padding: 6px;
    font-size: 13px;
    color: white !important;
    border-radius: 3px;
    border: none;
}

.new-customer .well p{
    padding: 0 21px;
}
.new-customer .well{
    padding: 25px 0;
}

.customer-login .well{
    padding: 25px 25px;
}

.customer-login .well h2{
    margin: 0 -22px;
}

.customer-login .form-group label{
    margin-bottom: -15px !important;
}

.customer-login .form-group input{
    width: 100% !important;
    height: 35px !important;
}

.customer-login .bottom-form a{
    font-size: 14px !important;
}