/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  background: #122331;

  box-sizing: border-box;
}
/* header */
.header {
  background: transparent;
  position: relative;
  max-width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  color:white;
  font-weight: 700;
}
a:hover {
    color: #00A29E !important;
    text-decoration: none !important;
}
.active{
    color: #00A29E !important;
    text-decoration: none !important;
}
.header a {
  text-decoration: none;
  color: #ffffff;
}
.header ul {
  list-style: none;
}
.logo {
  font-size: 2rem;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}
.menu-items li:hover {
  color:white;
  font-weight: 700;
  text-decoration:none;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu,
.menu-right {
  position: absolute;
  background: #122331;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 34px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  background: #ffffff;
  left: 129px;
  width: 80vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  
}
.mega-menu .content {
  background: #ffffff;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  box-shadow: 5px 1px 8px #273365ab;
  justify-content: space-between;
}
.blog .content {
  grid-template-columns: repeat(3, 1fr);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:white;
  line-height: 3rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
  border: 20px double transparent

}
.content .col h2 {
    color: #00A29E ;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.content .col .mega-links {
  color:#00A29E;
  background-color: white;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
  background-color: white;
  color:#00A29E;


}
.menu-items li:hover .mega-menu {
    top: 65px;
    opacity: 1;
    visibility: visible;
    background-color: white;
}
.content .col .read-more:hover {
    color: #00A29E ;
}

/* section */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border:none;
  text-decoration: none;
}
.section h1 {
  font-family: "Titillium Web", serif;
  border:none;
  text-decoration: none;
  font-weight: 700;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}
#carbonads a{color:#fff;text-decoration:none}#carbonads a:hover{color:#fff}
.login-title{
    display:flex;
    justify-content: flex-end;
    color:white;
    position: relative;
    right:30px;
    top:10px;

}
.flex-item{
    margin-right:10px;
}

.accessories-description{
    background-color:white;
    color: #00A29E ;
}

.access-title{
    color: #00A29E;
}
.feature{
    background-color:white;
    color: #00A29E ;
    border:none;
}

section{background-color: white;}
h2{background-color: white;}
p{background-color: white; }
span.img{background-color: white;}
