.blog_area {
    padding: 30px 0 60px;
}
.feature-img img{
    width: 100%;
    height: 383px;
}
.blog_info {
    padding-top: 30px;
}
.blog_info .post_tag {
    padding-bottom: 20px;
}
.blog_info .post_tag a {
    font: 300 14px/21px "Roboto", sans-serif;
    color: #222222;
}

.blog_info .post_tag a.active {
    color: #3fcaff;
}
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.blog_info .blog_meta li a {
    font: 300 14px/20px "Roboto", sans-serif;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block;
}
.blog_info .blog_meta li a i {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle;
}

.single-post-area .blog_details {
    padding-top: 26px;
}
.single-post-area .blog_details p {
    margin-bottom: 10px;
}
.single-post-area .quotes {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 24px 35px 24px 30px;
    background-color: white;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    font-size: 14px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}
.mt-25 {
    margin-top: 25px;
}
.single-post-area .navigation-area {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 60px;
}

.single-post-area .navigation-area .nav-left {
    text-align: left;
}
.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
}

element.style {
}
.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.single-post-area .arrow {
    position: absolute;
}
.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.lnr-arrow-left:before {
    content: "\e879";
}
.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600;
}
.single-post-area .navigation-area p {
    margin-bottom: 0px;
}
.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
    color: #222222;
}
.single-post-area .navigation-area .nav-right {
    text-align: right;
}
.comments-area {
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 30px;
    margin-top: 50px;
}
.comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
    color: #222222;
    font-size: 18px;
}
.comments-area .comment-list {
    padding-bottom: 48px;
}

.comments-area .thumb {
    margin-right: 20px;
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px;
}
.comments-area a {
    color: #222222;
}
.comments-area .date {
    font-size: 13px;
    color: #cccccc;
    margin-bottom: 13px;
    background: #fafaff;
}
.comments-area .comment {
    color: #777777;
    margin-bottom: 0px;
    background: #fafaff;
}
.comments-area .btn-reply {
    background-color: #fff;
    color: #222222;
    border: 1px solid #fff;
    padding: 2px 30px;
    font-size: 12px;
    display: block;
    font-weight: 600;
    height: 32px;
    width: 100%;
    line-height: 26px;
    transition: all 0.4s ease 0s;
}
.comments-area .comment-list.left-padding {
    padding-left: 25px;
}
.comments-area .comment-list {
    padding-bottom: 48px;
}

.comments-area .comment-list:last-child {
    padding-bottom: 0px;
}
.comment-form {
    background: #fafaff;
    text-align: center;
    border: 1px solid #eee;
    padding: 47px 30px 43px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.comment-form h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
    color: #222222
}
.comment-form .name {
    padding-left: 0px;
}
.name input{
    width: 100%;
}
.email input{
    width: 100% !important;
}
.comment-form .form-control {
    padding: 8px 20px;
    background: #fff;
    /* border: none; */
    border-radius: 0px;
    width: 100%;
    font-size: 14px;
    color: #777777;
    border: 1px solid transparent;
}
.comment-form .email {
    padding-right: 0px;
}
.comment-form .form-control {
    padding: 8px 20px;
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 14px;
    color: #777777;
    border: 1px solid transparent;
}
.comment-form textarea.form-control {
    height: 140px;
    resize: none;
}
.comment-form .primary-btn {
    text-transform: unset;
    color: #fff;
    font-size: 13px;
}
.blog_right_sidebar {
    border: 1px solid #eeeeee;
    padding: 30px;
}
.blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 0px;
    width: 100%;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: #122331;
    font-weight: 700;
}
.blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0px;
    transform: translateY(-5%);
    z-index: 1;
}
.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eeeeee;
    margin: 30px 0px;
}
.blog_right_sidebar .author_widget {
    text-align: center;
}
.blog_right_sidebar .author_widget h4 {
    font-size: 18px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 0px;
    margin-top: 30px;
}
.blog_right_sidebar .author_widget p {
    margin-bottom: 0px;
}
.blog_right_sidebar .author_widget .social_icon {
    padding: 7px 0px 15px;
}
.blog_right_sidebar .author_widget .social_icon a {
    font-size: 14px;
    color: #222222;
    transition: all 0.2s linear;
}
.blog_right_sidebar .widget_title {
    font-size: 18px;
    line-height: 25px;
    background: #122331;
    text-align: center;
    color: #fff;
    padding: 8px 0px;
    margin-bottom: 30px;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 4px;
    font-weight: 500;
    transition: all 0.3s linear;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0px;
}
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
}
.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 2px dotted #eee;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
}
.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #777;
}
.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
}
.blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
}
.blog_right_sidebar .newsletter_widget {
    text-align: center;
}
.blog_right_sidebar .newsletter_widget .form-group{
    margin-bottom: 8px;
}
.blog_right_sidebar .newsletter_widget .input-group-prepend {
    margin-right: -1px;
}
.blog_right_sidebar .newsletter_widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top;
    font-size: 12px;
    line-height: 36px;
    padding: 0px 0px 0px 15px;
    border: 1px solid #eeeeee;
    border-right: 0px;
}
.blog_right_sidebar .newsletter_widget .form-control {
    font-size: 12px;
    line-height: 24px;
    color: #cccccc;
    border: 1px solid #eeeeee;
    border-left: 0px;
    border-radius: 0px;
}
.blog_right_sidebar .newsletter_widget .bbtns {
    background:#122331;
    color: #fff !important;
    font-size: 12px;
    line-height: 43px;
    display: inline-block;
    font-weight: 500;
    padding: 0px 24px 0px 24px;
    border-radius: 0;
}
.blog_right_sidebar .newsletter_widget .text-bottom {
    font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 13px;
    margin-bottom: 8px;
    transition: all 0.3s ease 0s;
    color: #222222;
    font-size: 12px;
}

.thumb img{
    width: 70px;
}

.post-comment{
    background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    padding: 12px 35px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: 0px 10px 30px rgba(163, 255, 177, 0.2);
    text-align: center;
    cursor: pointer;
    height: 40px;
}

@media (max-width: 767px){
    .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem !important;
    }
}


@media (max-width: 991px){
    .comment-form .email {
        padding-left: 0px;
    }
}

