.page-title h5{
    font-weight: 700;
}
.map-container{
    overflow:hidden;
    padding-bottom: 340px;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#map-container-google-1 iframe{
    height: 300px !important;
    width: 100% !important;
}

.info-contact .name-store h3 {
    padding: 7px 0px;
    margin-top: 10px;
}

.contact-input {
    width: 86% !important;
    height: 31px !important;
    border: 1px solid lightgray;
    padding: 0 10px;
    border-radius: 5px;
}

.contact-input:focus{
    outline: none;
}

#input-enquiry{
    width: 86% !important;
    height: 160px !important;
    border: 1px solid lightgray;
    padding: 0 10px;
    border-radius: 5px;
    resize: none;
}

#input-enquiry:focus{
    outline: none;
}

.info-store .name-store h5{
    font-weight: 700;
}

.contact-form .contact-form-title{
    font-weight: 700;
}

.contact-form-button{
    text-align: right;
}
.buttonGray{
    width: 12%;
    height: 40px;
    font-size: 15px !important;
    padding: 0 !important;
    border: none !important;
}
.buttonGray span{
    color: white !important;
}
.buttonGray:focus{
    box-shadow: none !important;
    outline: none !important;
}

.enquiry-label{
    width: 78px !important; margin-left: 39px;font-size: 13px;position: relative !important; top: -133px !important;
}

.house-svg{
    margin-top: -6px;
    font-size: 19px;
}

.call-svg{
    margin-top: -6px;
    font-size: 19px;
}