.newsletter_area{
    background: #232f3e;
    padding: 37px 0 37px;
}
.newsletter_area .newsletter_widget{
    float: right;
    min-width: 100%;
    margin-top: 15px;
}
.newsletter_area .newsletter_widget input[type="email"] {
    padding: 13px 30px;
    width: 100%;
    border: transparent;
    border-radius: 7px;
    outline: none;
}
.newsletter_area .newsletter_widget .btn.primary_btn {
    position: absolute;
    right: 4px;
    line-height: 40px;
    border-radius: 40px;
    top: 4px;
    color: #22195e;
    box-shadow: none;
}
.subscribe{
    position: absolute;
    top: 0;
    right: 0;
}

.subscribe button{
    background-color: #ff3c20;
    border: 0 none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    text-transform: capitalize;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 125px;
}
.socials {
    float: right;
    margin-top: 25px;
}
.socials li {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
}

.socials li a {
    color: #fff !important;
    font-size: 14px;
    text-transform: capitalize;
}

.socials li a i {
    display: inline-block;
    font-size: 16px;
    margin-right: 8px;
}
.section_gap_top {
    padding-top: 30px;
}
.footer_area .f_widget .f_title {
    margin: 19px 0 20px 0;
}
.footer_area .f_widget .f_title h6 {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}
.footer_area .f_widget ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}
.footer_area .f_widget ul li {
    display: block;
    padding-bottom: 20px;
    color: black;
    cursor: pointer;
}

.single-footer-widget{
    justify-content: center;
}

.footer-links{
    border-top: 1px solid #ebebeb;
    padding: 46px 5% 15px 5%;
    text-align: center;
}
.footer-links li {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    vertical-align: top;
    padding: 0 15px;
    line-height: 100%;
}

.footer-links li:before {
    background: #666 none repeat scroll 0 0;
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px;
}
.footer-links li a{
    font-size: 14px;
}
.footer-bottom {
    background-color: #232f3e;
    margin-top: 45px;
    padding: 15px 0;
    color: #fff;
}
.footer-bottom .copyright {
    text-align: center;
}
footer .copyright a {
    color: #ff3c20 !important;
}
.f_widget svg{
    font-size: 9px !important;
    margin: -3px 5px 0 0;
}




@media screen and (max-width: 500px){
    .payment-method img{
        width: 100%;
    }
}