.menu-container {
    width:100%;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    width: 218px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    border: 1px solid black;
    padding: 0 0 0 4px;
    border-top: none;
    left: 0;
    top:63px;
    width: 268px !important;
    text-align: left;
    background-color: white;
}
.menu > li > a {
    padding: 20px 18px;
    display: block;
    position: relative;
    left: 0px;
}
.ant-dropdown-menu {
    position: relative;
    margin: 0;
    padding: 4px 0;
    width: 95%;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}



li.vertical{
}
li.vertical:hover{
}

.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 217px;
    width: 266px !important;
}

.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;
    text-align: center;
    margin-left: -4px;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu > li:hover > a {
    color: #227087;
}
.menu > li:hover {
    background-color: #fff;
}
/* my design */
.menu > li.vertical:hover {
}
/* Megadrop width dropdown */
 .menu > li > .megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 120px;
    left: 265px;
    width: 500px;
    min-height: 100%;
    text-align: left;
    background-color: white;
    margin-top:30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
}
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}
.menu ul li:hover:after {
    color: #227087;
}
.menu .col {
    width: 14.1%;
    float: left;
    color:white;
    margin: 0 0 0 2.2%;
}
.menu .col ul {
    padding: 0;
    margin: 0;
}
.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: white;
}
.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: #227087;
    background-color: white;
}
.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}
.vertical-menu-item{
   

}
.menu-icon{
    background-color:white;
    position: relative;
    top:-3px;
}
.vertical{
    display:inline-block;
}

.vertical-menu-item:hover{
    background-color: rgb(64, 237, 170);
    width: 267px !important;
   
}

.vertical-menu-item:hover .menu-icon {
    background-color: rgb(64, 237, 170);
color:white;
    position: relative;
    top: -3px;
}
h3.login-title{
    background-color: white;
  }
  .col{
    background-color: white;
  }
  .cate-icons{
      font-size:25px;
      margin-right:10px;
  }
  .categories {
    background-color: #00A29E;
    color: rgb(255, 255, 255);
    width: 214px;
    height: 50px;
    position: relative;
    top: -37px;
    
}
.category-position {
    background-color: #00A29E;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: 10px;
    left: 108px;
}
ul.menu {
    background-color: #ffffff;
    width: 218px;
    margin-left: 34px;
    position: absolute;
    z-index:99;
}


.showchevron{
    background-color:transparent;
    font-size:20px;
    position:relative;
    top:-3px;
    left:10px;

}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    height: 45px;
    border: 1px solid black;
    min-width: 0;
    border-radius:0px;
    margin-bottom: 0;
}

.show{
    transition:all 0.3s ease;
}

.hide{
    
    margin-top:-600px;
}
   .cate-flex{
       display:flex;
   }
.makeflex {
    display: flex;
    background-color: transparent;
    color:black;
    padding-bottom: 45px;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 18px;
    color: black;
    width: 300px;
}

.site-input-group-wrapper .site-input-split {
    background-color: #fff;
  }
  
  .site-input-group-wrapper .site-input-right {
    border-left-width: 0;
  }
  
  .site-input-group-wrapper .site-input-right:hover,
  .site-input-group-wrapper .site-input-right:focus {
    border-left-width: 1px;
  }
  
  .site-input-group-wrapper .ant-input-rtl.site-input-right {
    border-right-width: 0;
  }
  
  .site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
  .site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
    border-right-width: 1px;
  }


  .category-flex{
      position:relative;
      top:60px;
      left: 104px;
      display:flex;
  }

.make-flex{
    display:flex;
    margin-left: 230px;
}





@media(min-width: 320px) and (max-width: 375px){
   


  }
    
  
  
    @media(min-width: 375px) and (max-width: 425px){
       


    }
    @media(min-width: 426px) and (max-width: 768px){
        
       
  }
    @media(min-width: 769px) and (max-width: 1024px){
       
        .category-flex {
            position: relative;
            top: 60px;
            left: 44px;
            display: flex;
        }
        a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            width: 241px;
        }
      
  }
    @media(min-width: 1025px) and (max-width: 1440px){
    
    }
  
 