.radioleft{
    display:none;
}

.trigger{
    font-size:25px;
    position: relative;
    top:65px;
}


.ant-space-align-center {
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    /* left: 565px; */
}

.ant-space {
    -ms-flex-align: center;
    align-items: center;
    position: relative;
/* left:450px; */
}


.ant-spacess {
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    left: 545px;
}




.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
    opacity: 1;
  color: #00A29E !important;
width:0px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s;
}

.anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    width: 0px;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header.ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: rgba(255, 255, 255, 0.85);
    line-height: 64px;
    background: transparent !important; 
    z-index: 1000;

}
.toggle-flex{
    display: flex;
    justify-content: flex-end;
}

.spacer{
    width:400px;
}





@media(min-width: 320px) and (max-width: 375px){
   


}
  


  @media(min-width: 375px) and (max-width: 425px){
    .spacer {
        width: 225px;
    }


  }
  @media(min-width: 426px) and (max-width: 768px){
    .spacer {
        width: 584px;
    }
   
}
  @media(min-width: 769px) and (max-width: 1024px){
      .trigger{
          font-size:20px;
      }
      .spacer {
        width: 584px;
    }
}
  @media(min-width: 1025px) and (max-width: 1440px){
  
  
}



@media(min-width: 1441px) and (max-width: 2560px){
  
  
}