.banners7 {
    margin: 16px 0 40px 0;
}
.banners7 .b1 {
    margin-bottom: 30px;
}
.banners-effect-5 .banners > div a {
    display: block;
    position: relative;
    overflow: hidden;
}
.big-grid-brand img{
    width: 100%;
    height: 395px;
}
.grid-brand img{
    width: 100%;
}